/Primero/2 Cuatrimestre/MP/Ejercicios/Imagen/build/
/Primero/2 Cuatrimestre/MP/Ejercicios/Imagen/dist/
/Primero/2 Cuatrimestre/MP/Ejercicios/Examen 2015/build/
/Primero/2 Cuatrimestre/MP/Ejercicios/Skyline/build/
/Primero/2 Cuatrimestre/MP/Ejercicios/CppApplication_1/build/
/Primero/2 Cuatrimestre/MP/Ejercicios/CppApplication_1/dist/