
Segundo/1\ Cuatrimestre/EC/Prácticas/Práctica\ 3/b/3b/*
Segundo/1\ Cuatrimestre/ED/Imagenes/*
Segundo/2\ Cuatrimestre/MM/Teoria/LaTex/*
/home/daniel/Git/DGIIM/Tercero/1\ Cuatrimestre/SCD/Practicas/Práctica\ 3/(f)\ Práctica\ 3.\ Implementación\ de\ algoritmos\ distribuidos\ con\ MPI./scd-p3-fuentes/Mario_Examen/*
